html {
  height: 100%;
  font-size: 14px; }

body {
  font-family: 'Baloo';
  height: 100%;
  margin: 0; }

#root {
  padding: 10px 0;
  height: 100vh;
  min-height: 743px;
  text-align: center;
  background-color: #000; }
  #root canvas {
    margin: 0 auto;
    border: 4px solid white; }

h1 {
  margin: 0 0 20px 0;
  font-weight: bold;
  font-size: 60px; }
  h1 span {
    margin-right: 3px; }
    h1 span:nth-child(1) {
      color: #FF00AE; }
    h1 span:nth-child(2) {
      color: #D0FF00; }
    h1 span:nth-child(3) {
      color: #3AE2CE; }
    h1 span:nth-child(4) {
      color: #00FFA9; }
    h1 span:nth-child(5) {
      color: #FD0; }
    h1 span:nth-child(6) {
      color: #B34EE9; }
